@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --coe01: #012030;
    --cor02: #025951;
    --cor03: #02735E;
    --cor04: #038C3E;
    --cor05: #0CF25D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
    /* border: 1px solid red; */
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(190deg, var(--cor02), var(--cor04));
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: var(--coe01);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.752);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.titulo{
    text-align: center;
    padding: 5px;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 3rem;
    background-image: linear-gradient(90deg, var(--cor05), var(--cor04), var(--cor03), var(--cor02), var(--cor03), var(--cor04), var(--cor05));
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title 10s ease-in-out infinite;
}

@keyframes title {
    0%, 100%{
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.input-link{
    background-color: transparent;
    border: 2px solid var(--cor04);
    border-radius: 10px;
    width: 100%;
    font-size: 1.4rem;
    color: #0CF25D;
    outline: var(--cor05);
    animation: input 6s linear infinite;
}

@keyframes input{
    0%{
        box-shadow: 0px 0px 0px var(--cor03);
    }
    50%{
        box-shadow: 0px 0px 15px var(--cor05);
    }
    100%{
        box-shadow: 0px 0px 0px var(--cor03);
    }
}

.bts-link{
    background-color: var(--cor04);
    border: none;
    height: 30px;
    width: 50%;
    border-radius: 20px;
    transition: 1s;
    font-size: 1rem;
    color: black;
}

.bts-link:hover{
    transform: scale(1.1);
    background-color: var(--cor05);
}

.div-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--cor05);
}




.div-qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    min-height:300px;
}



.image-qrcode{
    border-radius: 20px;
    opacity: 0;
    min-width: 250px;
    min-height: 250px;
    transition: 2s;
}

.qrcode-appear{
    animation: appear 2s ease-in;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 400px){
    .main{
        min-width: 100vw;
        min-height: 100vh;
        border-radius: 0px;
    }
}



